body {
	padding:0;
	margin:0;
}

#search-panel {
	background-color:#eee;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	border:1px solid #aaa;
	padding:5px;
	box-sizing:border-box;
	z-index: 101;
}

.close-button {
	width:20px;
	height:20px;
	float:right;
	background:url(images/gtk-close.png);
	background-size:cover;
}

#search-input {
	float:left;
}

.clear-offset {
	clear:both;
}

.highlight {
	background-color: rgb(150, 255, 100);
}

.fancy-highlight {
	background-color: rgb(150, 255, 100);
	border: 1px dashed red;
}

p {
	position: relative;
	white-space: pre;
}